@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
  --library-yellow: #FFFBEF;
  --library-black: #000000;
  --library-gray: #999999;
  --library-red: #830C0C;
  --library-green: #175E0A;
}

* {
  font-family: "EB Garamond", serif;
}

body, html {
  padding: 0;
  margin: 0;
  background-color: var(--library-yellow);
}

h1 {
  font-size: 24px;
  font-weight: 800;
  margin: 8px 0;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 8px 0;
}

.loadingscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70vh;
}

.loadingscreen-logo img {
  width: 57px;
}

.loadingscreen-title {
  font-size: 42px;
  font-weight: 600;
  width: 200px;
  text-align: center;
}

.loadingscreen-love {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 35px;
}

.loadingscreen-love img {
  width: 16px;
  margin: auto;
}

header {
  background-color: var(--library-black);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 25px 20px 20px;
}

.library-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.library-header-title {
  color: var(--library-yellow);
  font-size: 24px;
  font-weight: 600;
}

.library-header-add-button button {
  background-color: transparent;
  border: none;
  padding: 0;
}

menu {
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: var(--library-yellow);
}

.library-menu {
  display: flex;
  border-top: 1px solid var(--library-black);
  padding-top: 15px;
  margin: 0 20px 13px;
  width: 100%;
  justify-content: space-between;
}

.library-menu a {
  color: var(--library-black);
  text-decoration: none;
}

.library-menu-item {
  display: flex;
  flex-direction: column;
}

.library-menu-item img {
  height: 37px;
}

section {
  padding: 20px 30px;
}

.library-book-container {
  padding: 20px 20px 0  ;
}

.library-book-container-title {
  font-weight: 600;
  padding-bottom: 10px;
}

.library-book-block {
  padding: 10px;
  border: 1px solid var(--library-black);
}

.library-book-block-label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.library-book-block-label-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.library-book-block-content {
  line-height: 1.5rem;
}

.library-book-block-title, .library-list-title {
  font-weight: 800;
}

.library-book-block-author {
  font-weight: 400;
}

.library-book-block-genre, .library-list-currently {
  font-size: 12px;
  color: var(--library-red);
}

.library-book-block-date {
  font-size: 12px;
}

.library-book-block-image img {
  width: 50px;
  border: 1px solid var(--library-black);
}

.library-book-block-date-more {
  display: flex;
  justify-content: space-between;
}

.library-book-block-genre-more {
  display: flex;
  justify-content: space-between;
}

.library-book-container-more, .library-list-more {
  font-style: italic;
  text-decoration: none;
  display: flex;
  justify-content: right;
}

.library-book-container-more a, .library-list-author-more a {
  color: var(--library-black);
}

.library-book-container-more span, .library-list-author-more span {
  text-decoration: underline;
}

.library-book-container-more img, .library-list-author-more img {
  padding: 3px 0 0 5px;
  margin-bottom: -3px;
}

.library-list {
  padding: 0 20px;
  margin-top: 10px;
  position: relative;
  height: calc(100vh - 186px);
  overflow-y: auto;
  background-color: var(--library-yellow);
}

.crowne-icon {
  width: 16px;
  height: 16px;
  margin: 0 4px -2px 0;
}

.library-list-author-more {
  display: flex;
  justify-content: space-between;
}

.search-filter-container {
  display: flex;
  position: sticky;
  border-bottom: 1px solid;
  margin-bottom: 12px;
  top: 0;
  min-height: 28px;
  background-color: var(--library-yellow);
}

.search-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.search-container input {
  background: none;
  border: none;
  font-size: 16px;
  padding: 0 0 0 24px;
  min-height: 24px;
  width: calc(100% - 24px);
}

.search-container input::placeholder {
  color: var(--library-black);
  font-size: 16px;
}

.search-container input:focus-visible {
  outline: none;
}

.sort-container {
  display: flex;
  align-items: flex-start;
}

.sort-container label {
  width: max-content;
}

.sort-select {
  background-color: var(--library-yellow);
  border: none;
  color: var(--library-red);
  font-weight: 600;
  font-size: 16px;
}

.sort-button {
  background-color: var(--library-yellow);
  border: none;
}

.success-message {
  position: fixed; /* Fixed to the screen */
  top: 99px; /* Adjust the position from the top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  background-color: var(--library-green);
  color: white;
  padding: 12px 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  z-index: 9999; /* Make sure it appears above other elements */
  animation: slide-in 0.5s ease-out; /* Optional: Add a slide-in effect */
  width: calc(100vw - 74px);
}

/* Slide-in animation */
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px); /* Start above */
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0); /* End in place */
  }
}

/* Popup container */
.popup-container {
  z-index: 1000; /* Ensure it appears above other content */
}

/* Popup content */
.popup-content {
  text-align: center;
  position: relative;
}

.popup-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.popup-buttons a {
  text-decoration: none;
}

.popup-button {
  background-color: var(--library-yellow);
  color: var(--library-black);
  border: none;
  padding: 8px;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 8px;
}

.popup-button img {
  height: 24px;
  padding-left: 8px;
}

.rotate {
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}

.add-book-container {
  margin: 20px;
}

.add-book {
  margin-bottom: 16px;
}

.add-book-input {
  background-color: var(--library-yellow);
  width: calc(100% - 14px);
  height: 40px;
  margin-bottom: 16px;
  font-size: 18px;
  padding: 0 0 0 12px;
  border: 1px solid var(--library-gray);
}

.add-book-options {
  display: flex;
  flex-flow: column;
}

.add-book-options label {
  display: flex;
  align-items: center;
  font-size: 18px;
  transition: all 0.3s ease;
  margin-bottom: 8px;
}

.add-book-date-label {
  font-weight: 600;
  font-size: 18px;
  display: block;
  margin-bottom: 8px;
}

.random-pick-section {
  display: flex;
  margin: 20px;
}

.random-pick-button {
  background-color: var(--library-black);
  color: var(--library-yellow);
  border: none;
  padding: 12px;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 8px;
}

.random-pick img {
  height: 24px;
  padding-left: 8px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

label input[type="radio"] + span {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--library-yellow);
  margin-right: 4px;
  vertical-align: middle;
  transition: background-color 0.3s ease;
  border: 1px solid var(--library-red);
  position: relative;
}

input[type="radio"]:checked + span {
  background-color: var(--library-yellow);
  border-color: var(--library-red);
}

input[type="radio"]:checked + span::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  background-color: var(--library-red);
  border-radius: 50%;
}

input[type="radio"]:not(:checked) + span {
  background-color: var(--library-yellow);
  border-color: var(--library-red);
}

label input[type="checkbox"] + span {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--library-yellow);
  border: 1px solid var(--library-red);
  position: relative;
  margin-right: 8px;
  vertical-align: middle;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="checkbox"]:checked + span {
  background-color: var(--library-red);
  border-color: var(--library-red);
}

input[type="checkbox"]:checked + span::after {
  content: '✔';
  position: absolute;
  top: 0;
  left: 3px;
  font-size: 14px;
  color: white;
}

.add-book-container button {
  width: 100%;
  background-color: var(--library-black);
  border: 1px solid var(--library-black);
  color: var(--library-yellow);
  padding: 8px;
  font-size: 18px;
}

.add-book-date {
  display: flex;
  margin: -12px 0 12px;
  justify-content: space-between;
}

input[type="date"] {
  width: 100%;
  font-size: 18px;
  padding: 8px;
  background-color: var(--library-yellow);
  border: 1px solid var(--library-gray)
}

.filled-circle {
  border: 1px solid var(--library-red);
  background-color: var(--library-red);
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 2px -2px 2px;
}

.unfilled-circle {
  border: 1px solid var(--library-red);
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 4px;
  margin: 0 2px -2px 2px;
}

.book-details-container {
  margin: 20px;
}

.book-details-genre {
  color: var(--library-red)
}

.book-details-container button {
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 0px;
  margin: 24px 8px 0 0;
}

.main-button {
  color: var(--library-yellow);
  background-color: var(--library-black);
  border: 1px solid var(--library-black);
}

.remove-button {
  color: var(--library-red);
  background-color: var(--library-yellow);
  border: 1px solid var(--library-red);
}

.stop-reading-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--library-yellow);
  display: flex;
  width: 100%;
}

.stop-reading-popup-content {
  padding: 20px;
  width: 100%;
}

.stop-reading-popup-close-icon {
  float: right;
}

.stop-reading-popup-details {
  margin-top: 87px;
}

.reading-status {
  margin-top: 24px;
}

.reading-status label {
  font-size: 24px;
  font-style: italic;
}

.reading-status-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.status-button {
  padding: 8px 10px;
  border: 1px solid var(--library-black);
  border-radius: 0;
  cursor: pointer;
  background-color: var(--library-yellow);
  color: var(--library-black);
  font-size: 16px;
}

.status-button.green.active {
  border: 1px solid var(--library-green);
  background-color: var(--library-green);
  color: var(--library-yellow);
}

.status-button.red.active {
  border: 1px solid var(--library-red);
  background-color: var(--library-red);
  color: var(--library-yellow);
}

.reading-status-rate {
  margin-top: 12px;
}

.filled-circle-rate {
  border: 1px solid var(--library-red);
  background-color: var(--library-red);
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 2px -2px 2px;
}

.unfilled-circle-rate {
  border: 1px solid var(--library-red);
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 4px;
  margin: 0 2px -2px 2px;
}

.reading-status-preservation {
  font-size: 18px;
  margin-top: 24px;
}

.reading-status-preservation label {
  display: flex;
  align-items: center;
}

.reading-status-save {
  padding: 12px;
  border: 1px solid var(--library-black);
  border-radius: 0;
  cursor: pointer;
  background-color: var(--library-black);
  color: var(--library-yellow);
  font-size: 24px;
  width: -webkit-fill-available;
  margin-top: 36px;
}